.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#photo{
  height: 50px;
  width: 50px;
}

.title{
  display: flex;
  position: relative;
    
  width: 669px; 
   
    
}
.logo{
  position: relative;
  height: 60px;
  width: 60px;
   
  display: flex; 
  
   
}
.buttons{
  display: flex;
  position: relative;
  
   
   
   left: 886px;
    
   
   
}
.buttonen{
  position: relative;
    
}
.buttondk{
  position: relative;
    
}
.buttonua{
  position: relative;
   
}
.descriptionpart1{
  display: flex;
  position: relative;
  left: 130px;
}
.descriptionpart2{
  display: flex;
  position: relative;
  left: 450px;
  text-indent: 65px;  
}
.descriptionpart3{
  display: flex;
  position: relative;
  left: 150px;
}
 
.light{
  background-color: blueviolet;
}
.textmenu{
 
  display: block;
  position: relative;
    
   height: 155px;
   width: 155px;
  border: 2px solid black;
}
.footer{
  position: relative;
  display: flex;
  background-color: #000000;
  color: wheat;
  width: 1903px;
  height: 60px; 
  top: 45px;
  box-shadow: 1px -3px 2px rgb(102, 101, 101);
  
}
.content{
   
   
  margin-left: 75px;
  display: flex;
  width: 1770px;
  height: 1100px;
  background-color: #96989985;
}
.Header_novis{
  box-shadow: 2px 2px 2px rgb(124, 122, 122);
  position: sticky;
  top: 0px;
  background-color: rgba(255, 253, 253, 0.39);
  border: 3px thin #282c34;
}
.demo {
  width: 1903px;
  display: block;
  /* background-color: red; */
}
.demo-nav {
  height: 30px;
  margin-bottom: 16px;
  line-height: 30px;
  background: #f8f8f8;
}
.demo-nav a {
  padding: 0 8px;
  line-height: 30px;
}
.app-list {
  margin-top: 16px;
}
  [data-theme="dark"] .demo-nav {
    background: #141414;
  }

#homelink{
  color: #000;
  position: relative;
  left: -444px;
}
#AppListlink{
  color: #000;
  position: relative;
  left: 444px;
}
 .s{
  background-color: red;
  position: relative;
  left: 666px;
  padding: 3px;
 }
 h1 {
  font-size:x-large;
  text-indent: 65px;
   
 }
 .switch{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto 
 }